<center>
<%= form_for("usuario", :url => salvar_registro_path,:html =>{:onSubmit=>'return validate();',:id=>'nuevo_usuario'}) do |f| %>

<div class="field">
    <%= f.label "Nombre" %>
    <%= f.text_field :nombre , required: true%>
  </div>

<div class="field">
    <%= f.label "Email" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control" , required: true%>
  </div>

  <div class="field">
    <%= f.label "Contraseña" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password",class: "form-control" , required: true%>
  </div>

  <div class="actions">
    <%= f.submit "Guardar",class: "btn btn-primary btn-lg", data: { disable_with: false }  %>
  </div>


  <% end %>

  </center>