<table>
   <tr>
    <th>Short URL</th>
    <th>Stats</th>
    <th></th>
  </tr>
<% @admin_urls.each do |au| %>
	<tr>
		<td><%=link_to "http://widErnie/"+au.url_short, au.url%></td>
		<td></td>
		<td><%= link_to "Editar",edit_admin_url_path(au.id)%> | <%= link_to "Borrar",edit_admin_url_path(au.id)%></td>
	</tr>


<% end %>

</table>