              <%= form_tag(admin_urls_path,  multipart: true, method: "post",:onSubmit=>"return validate();", :id => "assistence_request") do %>

    <b>Enter a long URL to make tiny:</b><br>

    <input type="text" id="url" name="url" value="">
    <input type="submit" value="Make TinyURL!">

    <%end%>